<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<h1>Tamagotchi</h1>
<ul>
  @foreach(var pet in Model)
  {
    @if(pet.GetStatus() == "dead")
    {
      <li><a href="/pets/@pet.GetId()">@pet.GetPetName() died. Oh no!</a></li>
    }
    else
    {
      <li><a href="/pets/@pet.GetId()">@pet.GetPetName()</a></li>
    }
  }
</ul>
<button class="button"><a href="/tamagotchi/new">Create a new pet</a></button>
