<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<h1>@Model.GetCityName()</h1>
<img src="/Content/img/@Model.GetPhotoFile()" alt="" />
<h2>@Model.GetCityDescription()</h2>

<a href="/places/new">Add another city</a>
<a href="/places">View all cities</a>
