<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<h1>Places I've Gone</h1>
<h3>Add a new city:</h3>
<form action="/places" method="post">
  <label for="new-place-name">City Name:</label>
  <input id="new-place-name" name="new-place-name" type="text">
  <label for="new-place-description">City Description:</label>
  <input id="new-place-description" name="new-place-description" type="text">
  <label for="new-place-photo">Enter the file name for your photo(include the extension):</label>
  <input id="new-place-photo" name="new-place-photo" type="text">
  <button type="submit">Add City</button>
</form>
